<% layout("/layouts/boilerplate") -%>


    <div class="container mt-5">
        <h3 class="text-center mb-4">Edit Listing</h3>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
            <div class="col-md-6">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" id="title" value="<%= listing.title %>" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a title.
                </div>
            </div>

            <div class="col-md-6">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" id="description" class="form-control" rows="3" ><%= listing.description %></textarea>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>

            <div class="col-md-6">
                <label for="url" class="form-label">Upload Image</label>
                <input name="listing[image]" id="url" value="<%= listing.image.url %>" type="file" class="form-control">
            </div>

            <div class="col-md-3">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" id="price" value="<%= listing.price %>" type="number" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid price.
                </div>
            </div>

            <div class="col-md-6">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" id="location" value="<%= listing.location %>" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a location.
                </div>
            </div>

            <div class="col-md-6">
                <label for="city" class="form-label">City</label>
                <input name="listing[City]" id="city" value="<%= listing.City %>" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a city.
                </div>
            </div>

            <div class="col-12 text-center mt-4">
                <button class="btn btn-success" type="submit">Save Changes</button>
            </div>
        </form>
    </div>

   
